<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>hwtemplate.html</title>
  </head>

  <meta name="KEYWORDS" content="..." />
  <meta name="AUTHOR" content="You" />

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="hw.css" />
  

  <body>

    <h1> Homework, by Me, Jan 1, 2117 </h1>

    <h2> Executive Summary </h2>

    <p> Squirrels are furry creatures.  In the full sample of all 123,121 gray squirrels from 1/1/1980 to 1/1/2017, the mean squirrel weighed 1.1 lbs, with a standard deviation of 0.1 lbs.  This suggests that squirrels are not as heavy as elephants.  Measurement error, sample selection, and treatment of missing squirrels cannot change this conclusion.</p>

    <h2> Full Body Text </h2>

    <p>Here goes your full length description.</p>

    <h2> Tables and Figures </h2>

    <p> Here goes your table:

      <table style="font-size:80%">
        <caption> Squirrel Observations </caption>
        <thead> <tr> <th>Squirrel<br />Name</th> <th>Tree</th> <th> Squirrel<br />Weight</th> </tr> </thead>
        <tbody>
          <tr> <td>Wen</td> <td>China</td> <td> 1.30 lbs </td> </tr>
          <tr> <td>Brett</td> <td> US </td> <td> 1.20 lbs </td> </tr>
          <tr> <td>Ri</td> <td> Korea </td> <td> 0.75 lbs </td> </tr>
          <tr> <td>Iris</td> <td> Taiwan </td> <td> 0.85 lbs </td> </tr>
          <tr> <td>Ovi</td> <td> Germany </td> <td> 1.00 lbs </td> </tr>
        </tbody>
      </table>

    <h2> Computer Code </h2>

    <pre>
      for (i in 1:100)
        cat("Squirrel Number is ", i, "\n")
    </pre>

    <h2> References </h2>

    <ul>
      <li> <a href="https://en.wikipedia.org/wiki/Eastern_gray_squirrel">Eastern Gray Squirrel</a>, Wikipedia, retrieved on Jan 16, 2017. </li>
    </ul>

    <p class="notice">TAs, please do not judge me too harshly.</p>

  </body>

</html>